{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/change_password.css' %}">
{% endblock %}

{% block header %}
<div>パスワード変更</div>
{% endblock %}

{% block content %}
<form action="{% url 'change_password' %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div>
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit">変更</button>
{% endblock %}

{% block footer %}
{% endblock %}