{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1 class="content_h1">Chatapp/Login</h1>
<p class="content_p">This is a sample page</p>
<!--ここにログインのフォームをうつよ！-->

{% if form.errors  %}
<div class="login-error-message">
    <span>ユーザーID, パスワードが一致しません．</span>
</div>
{% endif %}
<form method="POST" action="{% url 'login' %}" class="login-form">
    {% csrf_token %}
    <div class="login-form__username">
        <label>ユーザーネーム:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="login-form__password">
        <label>パスワード:</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit" class="login-form__submit">ログイン</button>
</form>
{% endblock %}

{% block footer %}{% endblock %}