{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/setting.css' %}">
{% endblock %}

{% block header %}
<div>設定</div>
{% endblock %}

{% block content %}
<div><a href="{% url 'change_username' %}">ユーザー名変更</a></div>
<div><a href="{% url 'change_mail' %}">メールアドレス変更</a></div>
<div><a href="{% url 'change_icon' %}">アイコン変更</a></div>
<div><a href="{% url 'change_password' %}">パスワード変更</a></div>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}